<div class="container">
    <div class="row">
        <div class="col-sm-8 pt-4 mx-auto">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-xxl-12 d-flex justify-content-center align-items-center">
                        <!-- <img *ngIf="!loading" (load)="onLoad()" src="../../assets/images/David-resized.JPG"
                            width="350" class="mx-auto my-auto d-block img-fluid rounded-circle mt-4" alt="...">

                        <div *ngIf="loading" class="spinner-border mx-auto my-auto d-block mt-4" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div> -->
                        <app-load-image [imageUrl]="'../../assets/images/David-resized.JPG'"
                            [cssClass]="'mx-auto my-auto d-block img-fluid rounded-circle mt-4'"
                            [altText]="'David Micallef'" [width]="350"></app-load-image>
                    </div>
                    <div class="col-xxl-12">
                        <div class="card-body text-center">
                            <h5 class="card-title">Ps. David Micallef</h5>
                            <p class="card-text">
                                <small class="text-muted">
                                    Pastor / B.Th. ACT (Reformed Theological College)
                                </small>
                            </p>
                            <p class="card-text">David is married to Chrissy, together they have 4 children.
                                Having studied at Reformed Theological College, graduating with a B.Th in
                                2021, David has
                                been involved in various ministry in the Point Cook Area to local
                                community.</p>

                            <p class="card-text">Being a musician with a passion to help people, David has experience in
                                roles such as
                                teaching English language through song to the local community and music
                                therapy in local
                                nursing homes.</p>

                            <p class="card-text">When David is not immersed in pastoring and teaching, he enjoys riding
                                his
                                motorcycle and
                                gardening as a great means of “refilling his tank” so he is further able to
                                devote his whole
                                self to the living word of the living God!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 pt-4 mx-auto">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-xxl-12 d-flex justify-content-center align-items-center">
                        <app-load-image [imageUrl]="'../../assets/images/Depaul-resized.JPG'"
                            [cssClass]="'mx-auto my-auto d-block img-fluid rounded-circle mt-4'"
                            [altText]="'Depaul Kompany'" [width]="350"></app-load-image>
                    </div>
                    <div class="col-xxl-12">
                        <div class="card-body text-center">
                            <h5 class="card-title">Depaul Kompany</h5>
                            <p class="card-text">
                                <small class="text-muted">
                                    Board Member
                                </small>
                            </p>
                            <p class="card-text">DePaul is originally from the Democratic Republic of Congo migrated to
                                Australia in 1997. He is married to Inna and is a proud father. DePaul
                                studied Masters in Criminal Justice and is currently working with Victims
                                Survivors of Domestic Violence. DePaul has served in children ministry,
                                helping to nurture the spiritual growth of young members through Bible
                                study.</p>

                            <p class="card-text">He loves spending time with his family, traveling, and sharing the
                                word of God with others.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 pt-4 mx-auto">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-xxl-12 d-flex justify-content-center align-items-center">
                        <app-load-image [imageUrl]="'../../assets/images/Dom-resized.jpg'"
                            [cssClass]="'mx-auto my-auto d-block img-fluid rounded-circle mt-4'"
                            [altText]="'Dominic Matabilas'" [width]="350"></app-load-image>
                    </div>
                    <div class="col-xxl-12">
                        <div class="card-body text-center">
                            <h5 class="card-title">Dominic Matabilas</h5>
                            <p class="card-text">
                                <small class="text-muted">
                                    Board Member
                                </small>
                            </p>

                            <p class="card-text">Dom grew up in the Philippines and migrated to Australia back in
                                2017.
                                God
                                blessed him with a loving wife Zaira and a daughter. He works as a Software
                                Engineer while also serving as a board member and also responsible for the
                                church's website and YouTube channel. Dom is a firm believer that God is
                                sovereign and the only way to salvation is only by grace through faith,
                                which will lead people to repentance.</p>

                            <p class="card-text">Dom loves spending time with his family and listening to reformed
                                sermons
                                online.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>