.carousel-caption {
    text-align: center;
    z-index: 10;
    padding: 0;
}

.carousel-caption h5 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.carousel-caption p {
    font-size: 0.8rem;
}

/* @media screen and (min-width: 500px) {
    .carousel-caption h5 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }
} */